  <mat-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select symptoms</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>Symptoms</mat-label>
            <mat-select formControlName="symptoms" multiple>
              <mat-option *ngFor="let symptom of allSymptoms" [value]="symptom">{{symptom.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="buttons-wrapper mt-4">
          <button mat-button matStepperNext class="btn btn-primary me-3">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill out report">
      <form [formGroup]="secondFormGroup">
          <mat-form-field  appearance="fill" style="width: 300px;">
            <textarea matInput rows="20" cols="500" formControlName="record"></textarea>
        </mat-form-field>
        <div class="buttons-wrapper mt-4">
          <button class="btn btn-primary me-3" mat-button matStepperPrevious>Back</button>
          <button class="btn btn-primary me-3" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Prescriptions</ng-template>
      <app-prescription></app-prescription>
      <div class="buttons-wrapper mt-4">
        <button mat-button (click)="addPrescriptionComponent()" class="btn btn-primary me-3">New prescription</button>
      </div>
      <div #ChildInsertionPoint></div>
      
      <div class="buttons-wrapper mt-4">
        <button mat-button matStepperPrevious class="btn btn-primary me-3">Back</button>
        <button class="btn btn-primary me-3" mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div class="buttons-wrapper mt-4">
        <button mat-button matStepperPrevious class="btn btn-primary me-3">Back</button>
        <button mat-button (click)="done()" class="btn btn-primary me-3">Done</button>
      </div>
    </mat-step>
  </mat-stepper>
  