<div mat-dialog-content>

<div mat-dialog-actions>
<p>URGENT REQUEST</p>
      <div class="stepHolder">
        <mat-form-field appearance="fill">
          <mat-label>Blood banks</mat-label>
          <mat-select [(ngModel)]= "selectedBloodBank">
              <mat-option *ngFor="let bloodBank of bloodBanks" [value]="bloodBank">{{bloodBank.name}}</mat-option>
          </mat-select>
          <br/>
          <br/>
          <mat-label>Protocol</mat-label>
          <mat-select [(ngModel)]= "protocol">
            <mat-option *ngFor="let index of ['GRPC', 'HTTP']" [value]="index">{{index}}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>
      <div>
          <button mat-button  mat-dialog-close (click)="sendRequest()">Done</button>
      </div>
</div>
</div>
