<div class="container">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="bloodBank.email">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="bloodBank.name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Server address</mat-label>
            <input matInput [(ngModel)]="bloodBank.serverAddress">
        </mat-form-field><br>
        
        <button mat-stroked-button (click)="createBloodBank()">
            Submit
        </button> 
    </div>
</div>
  