
<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Add new blood bank</h3>
                    <form class="requires-validation" novalidate>

                        <div class="col-md-12">
                            <input class="form-control" [(ngModel)]="bloodBank.email" type="email" name="email" placeholder="E-mail Address" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" [(ngModel)]="bloodBank.name" type="text" name="name" placeholder="Name" required>
                             <div class="invalid-feedback">Name field cannot be blank!</div>
                        </div>

                        <div class="col-md-12">
                            <input class="form-control" [(ngModel)]="bloodBank.serverAddress" type="text" name="serverAddress" placeholder="Server address" required>
                             <div class="invalid-feedback">Server address field cannot be blank!</div>
                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" (click)="createBloodBank()" type="submit" class="btn btn-primary">Register</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
