<div class="login-container mt-3">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <p>
                <mat-form-field>
                    <input required type="text" matInput placeholder="Username" name="username" [(ngModel)]="credentials.username" >
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input required type="password" matInput placeholder="Password" name="password" [(ngModel)]="credentials.password">
                </mat-form-field>
            </p>

            <p *ngIf="error">
                Wrong username and/or password
            </p>

            <div>
                <button type="submit" mat-raised-button color="primary" (click)="login()">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
