<div class="container my-3">
    <div>
      <div class="container">
        <div fxLayout="row wrap space-evenly" fxLayoutGap="15px grid">
          <div  fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let off of offers "  >
            <mat-card  class="mat-elevation-z19 border align card-background">
                <mat-card-content >
                   <div>
                        <div *ngFor="let b of off.bloodAmounts ">
                          
                          <div style="display: inline-block;">
                              <mat-card-content style="font-size: 25px; color:black; width: 100px;"> {{b.bloodAmount}} .. {{b.bloodType}} </mat-card-content>
                                                          
                          </div>
                          
                        </div>
  
                        <div class="form-button mt-3">
                            <button id="submit" type="submit"  class="btn btn-primary" (click)="seeOffers(off)" >View Offers</button>
                        </div>
                      
                      <br>
                      
                   </div>
                         
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    