@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

*{
    font-family: Manrope;
}

.form1{
    max-width: 600px;
    margin: 0 auto;
}


.d1{
    display: block;
    margin-bottom: 10px;
}