<!-- <div>

    <div style="display: inline-block;" class="scheduleReport">
        <button mat-fab color="primary" matTooltip="Schedule frequency of sending reports to Blood Banks." matTooltipPosition="right" aria-label="Example icon button with a bookmark icon" (click)="schedule()">
            <mat-icon>schedule</mat-icon>
        </button>

    <div style="display: inline-block;" class="urgentRequest">
      <button mat-fab color="primary" matTooltip="Urgent request." matTooltipPosition="right" aria-label="Example icon button with a bookmark icon" (click)="urgentRequestDialog()">
          <mat-icon>ring_volume</mat-icon>
      </button>
    </div>



</div>


<div class="container mt-4">
  <div fxLayout="row wrap space-evenly" fxLayoutGap="25px grid">
    <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" class="zoom" *ngFor="let bloodBank of bloodBanks">
      <mat-card  class="mat-elevation-z19 border align card-background">
        <img style="height: 200px; width: 300px" class="mt-1 mh-200 mw-200" mat-card-image mat-card-s-image src="https://firebasestorage.googleapis.com/v0/b/isapsw-6ef61.appspot.com/o/h1.jpg?alt=media&token=5268f3af-3bda-4014-b18e-3e69b57fb3ea">
        <mat-card-content>
          <mat-card-title class="text-center fs-5 fw-bold">{{bloodBank.name}}</mat-card-title>
          <p>
            <mat-card-content>{{bloodBank.email}}</mat-card-content>
          </p>
          <p>
            <mat-card-content>{{bloodBank.serverAddress}}</mat-card-content>
          </p>
          <p style="display: inline-block;">
            <button  class="btn btn-primary" >News</button>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->



<div class="containerm">
  <div class="table-header">
      <p class="table-title">Blood banks</p>
      <button mat-fab color="primary" id="createBloodBanks"  mat-mini-fab matTooltip="New blood bank" matTooltipPosition="right" aria-label="Example icon button with a bookmark icon" (click)="addBloodBank()">
          <mat-icon>add</mat-icon>
      </button>
  </div>

  <table mat-table [dataSource]="dataSource" id="bloodBanksTable">
      <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef class="cell-center"> Name </th>
          <td mat-cell *matCellDef="let bloodBank" class="clickable cell-center" >{{bloodBank.name}}</td>
      </ng-container>
      <ng-container matColumnDef="email" >
          <th mat-header-cell *matHeaderCellDef class="cell-center"> E-mail </th>
          <td mat-cell *matCellDef="let bloodBank" class="clickable cell-center" >{{bloodBank.email}}</td>
      </ng-container>
      <ng-container matColumnDef="serverAddress" >
          <th mat-header-cell *matHeaderCellDef class="cell-center"> Server Address </th>
          <td mat-cell *matCellDef="let bloodBank" class="clickable cell-center" >{{bloodBank.serverAddress}}</td>
      </ng-container>
      <ng-container matColumnDef="action" >
          <th mat-header-cell *matHeaderCellDef class="cell-center">Check Blood Availability</th>
          <td mat-cell *matCellDef="let bloodBank" class="clickable cell-center" >
              <button mat-icon-button color="warn" (click)="checkBloodAvailability(bloodBank)">
                  <mat-icon>edit</mat-icon>
              </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="container">
  <div class="row">
      <h1 class="display-1">News</h1>
      <div fxLayout="row wrap space-evenly" fxLayoutGap="15px grid">
          <div [fxFlex]="(100/3) + '%'"  fxFlex.xs="100%" class="zoom" fxFlex.sm="33%" *ngFor="let bbNews of bloodBanksNews">
            <mat-card  class="mat-elevation-z19 border align card-background">
              <img style="height: 200px; width: 300px" class="mt-1 mh-200 mw-200" mat-card-image mat-card-s-image src={{bbNews.imgSrc}}>
              <mat-card-content>
                <mat-card-title class="text-center fs-5 fw-bold">{{bbNews.bloodBank.name}}</mat-card-title>
                <p>
                  <mat-card-content>{{bbNews.subject}}</mat-card-content>
                </p>
                <div class="card-content">
                  <p>{{bbNews.text}}</p>
                </div>
                <div class="row">
                  <div class="col-sm-7" *ngIf="!bbNews.published">
                    <button mat-raised-button color="warn" class="mt-3" (click)="publishNews(bbNews)">Publish</button>
                  </div>
                  <div class="col-sm-7" *ngIf="bbNews.published">
                    <p class="text-success"><mat-card-content class="mt-3">Published</mat-card-content></p>
                  </div>
                  <div class="col-sm-1" *ngIf="!bbNews.published">
                    <button mat-raised-button color="primary" class="mt-3" (click)="archiveNews(bbNews)" >Archive</button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
</div>
