.body {
    text-align: center;
    background-color: lightgray;
}

.form {
    margin-left: 100px;
    background-color: red;
    width: 500px;
    height: 590px;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(223, 18, 35, 1) 21%, rgba(226, 70, 93, 1) 48%, rgba(224, 139, 152, 1) 89%);
}

.labels {
    font-size: 16px;
}

.moveLabel {
    padding-top: 35px;
    text-align: left;
    padding-left: 40px;
}

.moveLabel2 {
    padding-top: 0px;
    text-align: left;
    padding-left: 40px;
}

.name {
    margin-left: 134px;
}

.description {
    margin-left: 95px;
}

.workHour {
    margin-left: 108px;
}

.textbox {
    margin-left: 52px;
}

.textbox2 {
    margin-left: 58px;
}

.textbox3 {
    margin-left: 68px;
}

tr:hover {
    background-color: rgb(255, 106, 106);
}

.descLabel {

    margin-left: 20px;
}

.h1Edit {
    text-decoration: underline;
}