<div class="container mt-3">
  <ng-template ngFor let-item [ngForOf]="patients" let-i="index">
      <mat-card>
          <mat-card-title >{{item.firstName}} {{item.lastName}}</mat-card-title>
          <mat-card-content>Cancelled appointments : TODO</mat-card-content>
          <mat-card-actions align="end">
              <button  mat-raised-button color="primary">View patient info</button>
              <button  mat-raised-button color="warn" (click)="manageAccess(i, item.email)">Unblock</button>
          </mat-card-actions>
      </mat-card>
      <br>
  </ng-template>
</div>
