<div>
<mat-form-field appearance="fill">
    <mat-label for="patient">Medicines</mat-label>
    <mat-select name="patient" formControlName="patient">
      <mat-option *ngFor="let medicine of medicalDrugs" [value]="medicine.id">
        {{medicine.id}} {{medicine.name}}
      </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label for="patient">Quantity[mg]</mat-label>
    <input matInput value="200" type="number" min="0" step="100" name="patient" formControlName="patient1">
</mat-form-field>