<!-- <div>


    <div class="container">
        <div class="row">
            <div>
                <h1 class="h1Schedule"> Schedule sending reports of blood consumption </h1>
                <br>
                <br>
                <p>Choose strat date and time of sending reports:</p>
                <input class ="headerSchedule" [(ngModel)]="StartTime" type="datetime-local" id="appt" name="appt" min="09:00" max="18:00" required>
            </div>
            
            <div class="buttonsPeriod">
                <p>Choose period:</p>
                <div class="btn-group">
                    <div id="dailyDiv" class="btn btn-dark"
                        (click)="showDiv.daily = true;showDiv.weekly = false;showDiv.monthly = false; showDiv.annual=false; clickedDaily()">
                        Daily
                    </div>
                    <div id="weeklyDiv" class="btn btn-dark"
                    (click)="showDiv.daily = false;showDiv.weekly = true;showDiv.monthly = false; showDiv.annual=false; clickedWeekly()">
                        Weekly
                    </div>
                    <div id="monthlyDiv" class="btn btn-dark" (click)="showDiv.daily = false;showDiv.weekly = false;showDiv.monthly = true; showDiv.annual=false; clickedMonthly()">
                        Monthly
                    </div>
                    <div id="annualDiv" class="btn btn-dark" (click)="showDiv.daily = false;showDiv.weekly = false;showDiv.monthly = false; showDiv.annual=true; clickedAnnual()">
                        Custom
                    </div>
                </div>
            </div>
        </div>
        !-->


    <div>
        <mat-stepper linear #stepper>
            <mat-step>
                <ng-template matStepLabel>Choose start date and time</ng-template>
                
                <mat-form-field appearance="fill">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="picker1" >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matTimepicker>
                </mat-form-field>
                
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
    
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Frequency and consumption period</ng-template>
                <div>
                    <div class="buttonsPeriod">
                        <p>Frequency</p>
                        <div class="btn-group">
                            <div id="dailyDiv" class="btn btn-dark"
                                (click)="showDiv.daily = true;showDiv.weekly = false;showDiv.monthly = false; showDiv.annual=false; clickedDaily()">
                                Daily
                            </div>
                            <div id="weeklyDiv" class="btn btn-dark"
                            (click)="showDiv.daily = false;showDiv.weekly = true;showDiv.monthly = false; showDiv.annual=false; clickedWeekly()">
                                Weekly
                            </div>
                            <div id="monthlyDiv" class="btn btn-dark" (click)="showDiv.daily = false;showDiv.weekly = false;showDiv.monthly = true; showDiv.annual=false; clickedMonthly()">
                                Monthly
                            </div>
                            <div id="annualDiv" class="btn btn-dark" (click)="showDiv.daily = false;showDiv.weekly = false;showDiv.monthly = false; showDiv.annual=true; clickedAnnual()">
                                Custom
                            </div>
                        </div>
                        <div class="row">
                            <div *ngIf="showDiv.daily">
                                
                                <div>
                                    <div>
                                        
                                        <!-- <input  type="time" value="23:59" id="appt" name="appt" min="09:00" max="24:00" required> -->
                                        <input matInput type="time">
                                        <input matInput
                                        name="selected_time_A"
                                        placeholder="4:00 PM"
                                        readonly />
                                        <br>
                                        
                                        <br>
                                        <a routerLink="bloodBanks" class="btn btn-primary" (click)="schedule()" >Schedule</a>
                                    </div>
                                </div>
                
                            </div>
                
                            <div *ngIf="showDiv.weekly">
                                Weekly wokrs
                            </div>
                
                            <div *ngIf="showDiv.monthly">Monthly works.</div>
                                
                
                            <div *ngIf="showDiv.annual">Annual works.</div>        
                        </div>
    
                    </div>
                <div>
    
                </div>
                </div>
              </form>
            </mat-step>
        
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
          </mat-stepper>
    </div>