<mat-spinner *ngIf="fetchingExaminationDocuments" class="mx-auto mt-5"></mat-spinner>
<div class="container-lg" *ngIf="!fetchingExaminationDocuments">
  <div class="content" *ngIf="!errorFetchingExaminationDocuments">
    <div class="row justify-content-center mt-4">
      <div class="col-4">
        <h3 class="text-center">Search Reports And Prescriptions</h3>
        <input type="text" class="form-control" placeholder="Enter search creteria . . ." [(ngModel)]="searchText" (keyup)="handleSearch($event)">
      </div>
    </div>
    <div class="row justify-content-start g-4 my-4" *ngIf="examinationDocuments.length">
      <div class="col-4" *ngFor="let examinationDocument of examinationDocuments">
        <app-single-examination-document [examinationDocument]="examinationDocument"></app-single-examination-document>
      </div>
    </div>
    <div *ngIf="!examinationDocuments.length">
      No documents.
    </div>
  </div>
  <div *ngIf="errorFetchingExaminationDocuments" class="error-block text-center mt-5">
    {{errorFetchingExaminationDocuments}}
  </div>
</div>
