<div class="general">
  <div id="paper">
  </div>

  <body class="body" style="color: white;">
    <form class="roomForm">
      <div class="labels">
        <div class="moveLabel">
          <form class="form-inline">
            <input #query type="text" class="form-control mb-2 mr-sm-2" placeholder="Search Rooms">
            <button type="button" class="btn btn-primary mb-2" (click)="searchRooms(query.value)">Search</button>
          </form>      
        </div>
        <div class="moveLabel2">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id:</th>
                <th scope="col">Name:</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of rooms; let i index" (click)="selectedRoom(room.id)">
                <td>
                  <h3>{{room.id}}</h3>
                </td>
                <td>
                  <h3>{{room.name}}</h3>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </body>

</div>