<div class="wholeApp">
    <canvas id="canvas" height="400" width="600"></canvas>

    <body class="body" style="color: white;">
        <form class="roomForm" *ngIf="state">
            <div class="labels">
                <div class="moveLabel">
                    <label class="h1Edit">
                        <h1>Room name:</h1>
                    </label>
                    <label class="descLabel">{{datas[1]}}</label>
                </div>
                <div class="moveLabel2"><label class="h1Edit">
                        <h1>Description:</h1>
                    </label>
                    <label class="descLabel">{{datas[2]}}</label>
                </div>
                <div class="moveLabel2"><label class="h1Edit" style="color: white;">
                        <h1>Work hour:</h1>
                    </label>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Day:</th>
                                <th scope="col">From:</th>
                                <th scope="col">To:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Work day</td>
                                <td>{{datas[3]}}</td>
                                <td>{{datas[4]}}</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>{{datas[5]}}</td>
                                <td>{{datas[6]}}</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td>
                                    {{datas[7]}}
                                </td>
                                <td>
                                    {{datas[8]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </body>
</div>