.wholeApp {
    margin-left: 100px;
    margin-top: 60px;
    display: flex;
    margin-bottom: 100px;
}

#canvas {
    border: 1px solid black;
}

.roomForm {
    margin-left: 100px;
    margin-right: 50px;
    width: 500px;
    height: 390px;
    border-radius: 8px;
    background-color: #c2185b;
    color: white;
    padding-right: 50px;
}


.labels {
    font-size: 16px;
}

.moveLabel {
    padding-top: 35px;
    text-align: left;
    padding-left: 40px;
    color: white;
}

.moveLabel2 {
    padding-top: 0px;
    text-align: left;
    padding-left: 40px;
    color: white;
}

.name {
    margin-left: 134px;
}

.description {
    margin-left: 95px;
}

.workHour {
    margin-left: 108px;
}

.textbox {
    margin-left: 52px;
}

.textbox2 {
    margin-left: 58px;
}

.textbox3 {
    margin-left: 68px;
}

tr:hover {
    background-color: #f44336;
}

.descLabel {

    margin-left: 20px;
}

.equipmentForm {
    margin-top: 100px;
    margin-left: 300px;
    margin-bottom: 100px;
    width: 800px;
    height: 400px;
    border-radius: 8px;
    background-color: #c2185b;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
}

.mainLabel {
    font-size: 32px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.table-striped {
    font-size: 18px;
}

.moveButton {
    background-color: #c2185b;
    border-color: white;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.moveButton:hover {
    transform: scale(1.1);
}

.canMoveForm {
    width: 700px;
    height: 550px;
    border-radius: 8px;
    background-color: rgb(255, 252, 252);
    color: black;
    position: absolute;
    border-color: black;
    border-width: thick;
    top: 200px;
    left: 400px;
}

.buttons {
    margin-top: 328px;
    text-align: center;
}

.nextButton {
    background-color: rgb(177, 244, 177);
    width: 100px;
    height: 50px;
    font-size: 22px;
    margin-left: 370px;
    border-radius: 5px;
}

.backButton {
    background-color: rgb(247, 186, 186);
    width: 100px;
    height: 50px;
    font-size: 22px;
    margin-left: 10px;
    border-radius: 5px;
}

.progressBar {
    margin-top: 20px;
    height: 30px;
    width: 350px;
    margin-left: 190px;
    color: black;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #f44336;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

.percentLabel {
    margin-left: 350px;
    font-size: 15px;
}

.mainLabelMove {
    margin-top: 20px;
    font-size: 24px;
    margin-left: 240px;
}

.textbox{
    position: absolute;
    left:auto;
    margin-left: 270px;
}