<div class="wholeApp">
    <canvas id="canvas" height="400" width="600"></canvas>

    <body class="body" style="color: white;">
        <form class="roomForm" *ngIf="state">
            <div class="labels">
                <div class="moveLabel">
                    <label class="h1Edit">
                        <h1>Room name:</h1>
                    </label>
                    <label class="descLabel">{{datas[1]}}</label>
                </div>
                <div class="moveLabel2"><label class="h1Edit">
                        <h1>Room type:</h1>
                    </label>
                    <label class="descLabel">{{praviNiz}}</label>
                </div>
                <div class="moveLabel2"><label class="h1Edit">
                        <h1>Description:</h1>
                    </label>
                    <label class="descLabel">{{datas[2]}}</label>
                </div>
                <div class="moveLabel2"><label class="h1Edit" style="color: white;">
                        <h1>Work hour:</h1>
                    </label>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Day:</th>
                                <th scope="col">From:</th>
                                <th scope="col">To:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Work day</td>
                                <td>{{datas[3]}}</td>
                                <td>{{datas[4]}}</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>{{datas[5]}}</td>
                                <td>{{datas[6]}}</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td>
                                    {{datas[7]}}
                                </td>
                                <td>
                                    {{datas[8]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </body>
</div>

<form class="equipmentForm" *ngIf="state">
    <div>
        <label class="mainLabel">Equipments:</label>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item Id:</th>
                    <th scope="col">Item name:</th>
                    <th scope="col">Amount:</th>
                </tr>
                <tr *ngFor="let equip of equipments; let i index">
                    <th scope="col" *ngIf="stateAprooved">{{equip.equipmentId}}</th>
                    <th scope="col" *ngIf="stateAprooved">{{equip.name}}</th>
                    <th scope="col" *ngIf="stateAprooved">{{equip.amount}}</th>
                    <th scope="col"><button class="moveButton"
                            (click)="moveEquipmentForm($event,equip.name); getAmount(equip.amount)">Move</button></th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</form>

<form *ngIf="canMoveForm" class="canMoveForm" [formGroup]="validationsForAmount">
    <div *ngIf="!percentIsHun">
        <mat-progress-bar mode="determinate" value={{percent}} class="progressBar">
        </mat-progress-bar>
        <div>
            <label class="percentLabel">{{percent / 25}}</label>
        </div>
        <div *ngIf="percentIsZero">
            <label class="mainLabelMove">Odaberite kolicinu:</label>
            <div class="textbox">
                <input (keyup)="onChange($event.target)" type="text" id="input" formControlName="amount">
            </div>
        </div>
        <div *ngIf="percentIsTwenty">
            <label class="mainLabelMove">Odaberite destinaciju:</label>
            <div class="roomDestination">
                <tr *ngFor="let room of allRooms; let i index" (click)="selectRoom(room.id)">
                    <td>
                        <h3>{{room.name}}</h3>
                    </td>
                </tr>
            </div>
        </div>
        <div *ngIf="percentIsFourty">
            <label class="mainLabelMove">Datum od do:</label>
            <div class="calendars">
                <div (click)="getStartDate(startDate)">
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="startDate"></mat-calendar>
                    </mat-card>
                </div>
                <div (click)="getEndDate(endDate)">
                    <mat-card class="demo-inline-calendar-card2">
                        <mat-calendar [(selected)]="endDate"></mat-calendar>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="percentIsSixty" [formGroup]="validationsForAmount">
        <label class="mainLabelMove">Unos trajanja premeštanja:</label>
        <div>
            <label class="durationLabel">Dani:</label>
            <input class="inputDuration1" (keyup)="onChange1($event.target)" type="text" id="input"
                formControlName="days">
        </div>
        <div>
            <label class="durationLabel">Sati:</label>
            <input class="inputDuration2" (keyup)="onChange2($event.target)" type="text" id="input"
                formControlName="hours">
        </div>
    </div>
    <div *ngIf="percentIsSixty">
        <div class="buttons">
            <button class="backButton" (click)="removePercent($event)">Back</button>
            <button class="nextButton" (click)="addPercent($event); getTermins()">Next</button>
        </div>
    </div>

    <div *ngIf="!percentIsSixty">
        <div class="buttons">
            <button class="backButton" (click)="removePercent($event)">Back</button>
            <button class="nextButton" (click)="addPercent($event)">Next</button>
        </div>
    </div>

    <div *ngIf="percentIsHun">
        <mat-progress-bar mode="determinate" value={{percent}} class="progressBar">
        </mat-progress-bar>
        <div>
            <label class="percentLabel">{{percent / 25}}</label>
        </div>
        <label class="mainLabelMove">Lista slobodnih termina:</label>
        <div class="terminsTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Re-order start:</th>
                        <th class="gap"></th>
                        <th scope="col">Re-order end:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let termins of AllTermins; let i index"
                        (click)="selectTermin(termins.startTime,termins.endTime)">
                        <td>
                            <h3>{{termins.startTime}}</h3>
                        </td>
                        <td class="gap"></td>
                        <td>
                            <h3>{{termins.endTime}}</h3>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="buttons">
            <button class="backButton" (click)="removePercent($event)">Back</button>
            <button class="nextButton" (click)="scheduleMoving($event)">Scedule</button>
        </div>
    </div>
</form>