<div class="row g-0 mt-3">
    <div class="col-md-1">

    </div>
    <div class="col-md-4 text-center">
        <h2 class="me-4">Patients by gender</h2>
        <canvas baseChart width="450" height="450"
            [type]="'bar'"
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins">
        </canvas>
    </div>
    <div class="col-md-2">
      
    </div>
    <div class="col-md-4 text-center">
        <h2 class="me-4">Patients by blood type</h2>
        <canvas baseChart width="400" height="400"
            [type]="'pie'" 
            [data]="pieChartData"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
        </canvas>
      </div>
    <div class="col-md-1">
      
    </div>
</div>
<div class="row g-0 mt-3">
    <div class="col-md-1">
        
    </div>
    <div class="col-md-10">
        
    </div>
    <div class="col-md-1">
        
    </div>
</div>