/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
}

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: bold;
}
