<div class="container mt-3">
    <ng-template ngFor let-item [ngForOf]="publicFeedbacks" let-i="index">
        <mat-card>
            <mat-card-title *ngIf="item.patientFullName; else anonymous">{{item.patientFullName}}</mat-card-title>
            <ng-template #anonymous>
                <mat-card-title>Anonymous</mat-card-title>
            </ng-template>
            <mat-card-subtitle>{{item.creationDate}}</mat-card-subtitle>
            <mat-card-content>{{item.text}}</mat-card-content>
            <mat-card-actions align="end">
                <button *ngIf="item.status != 1" mat-raised-button color="primary" (click)="changeStatus(i, item.id, 1)">Approve</button>
                <button *ngIf="item.status != 2" mat-raised-button color="warn" (click)="changeStatus(i, item.id, 2)">Deny</button>
            </mat-card-actions>
        </mat-card>
    </ng-template>
</div>
