<div class="container mt-3">
      <mat-card>
          <mat-card-title >Marko Markovic</mat-card-title>
          <mat-card-content>Cancelled appointments : 5</mat-card-content>
          <mat-card-actions align="end">
              <button  mat-raised-button color="primary">View patient info</button>
              <button  mat-raised-button color="warn" >Block</button>
          </mat-card-actions>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-title >Nemanja Pekovic</mat-card-title>
        <mat-card-content>Cancelled appointments : 3</mat-card-content>
        <mat-card-actions align="end">
            <button  mat-raised-button color="primary">View patient info</button>
            <button  mat-raised-button color="warn" >Block</button>
        </mat-card-actions>
    </mat-card>
</div>
