<div class="row g-0">
    <div class="col-md-12">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">PIN</th>
          <th scope="col">Gender</th>
          <th scope="col">Blood Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients; let i = index">
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td>{{patient.email}}</td>
          <td>{{patient.pin}}</td>
          <td>{{patient.gender}}</td>
          <td>{{patient.bloodType}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>