<div class="row g-0 mt-3">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 text-center">
      <h2>Patients by age group</h2>
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Age group</th>
          <th scope="col">Number of patients</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0-18</td>
          <td>{{ageStatistic.zeroToEighteen}}</td>
        </tr>
        <tr>
          <td>19-64</td>
          <td>{{ageStatistic.nineteenToSixtyFour}}</td>
        </tr>
        <tr>
          <td>65+</td>
          <td>{{ageStatistic.sixtyFivePlus}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1">
      
  </div>
</div>