.demo-inline-calendar-card {
  width: 400px;
  position: absolute;
  top: 30%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
}

.btn{
  float: right;
  margin-right: 200px;
  margin-top: 80px;
  background-color: #c2185b;
  color: white;
}